[submodule "modules/roles"]
	path = production/modules/roles
	url = git@github.com:attachmentgenie/attachmentgenie-roles.git
[submodule "modules/profiles"]
	path = production/modules/profiles
	url = git@github.com:attachmentgenie/attachmentgenie-profiles.git
[submodule "modules/stdlib"]
	path = production/modules/stdlib
	url = git@github.com:puppetlabs/puppetlabs-stdlib.git
[submodule "modules/firewall"]
	path = production/modules/firewall
	url = git@github.com:puppetlabs/puppetlabs-firewall.git
[submodule "production/modules/mongodb"]
	path = production/modules/mongodb
	url = https://github.com/voxpupuli/puppet-mongodb.git
[submodule "production/modules/epel"]
	path = production/modules/epel
	url = https://github.com/stahnma/puppet-module-epel.git
[submodule "production/modules/mysql"]
	path = production/modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "modules/neo4j"]
	path = production/modules/neo4j
	url = git@github.com:mlambrichs/puppet-neo4j.git
[submodule "modules/concat"]
	path = production/modules/concat
	url = git@github.com:puppetlabs/puppetlabs-concat.git
[submodule "modules/archive"]
	path = production/modules/archive
	url = git@github.com:voxpupuli/puppet-archive.git
[submodule "production/modules/postgresql"]
	path = production/modules/postgresql
	url = https://github.com/puppetlabs/puppetlabs-postgresql.git
[submodule "production/modules/influxdb"]
	path = production/modules/influxdb
	url = https://github.com/codylane/golja-influxdb
[submodule "production/modules/java"]
	path = production/modules/java
	url = git@github.com:puppetlabs/puppetlabs-java.git
[submodule "production/modules/mount_core"]
	path = production/modules/mount_core
	url = https://github.com/puppetlabs/puppetlabs-mount_core.git
[submodule "production/modules/lvm"]
	path = production/modules/lvm
	url = https://github.com/puppetlabs/puppetlabs-lvm.git
